.titlebar
{
    direction: rtl;
    align-content: center;
    float: right;
}
.home {
    font-family: yekan;
    direction: rtl;
    align-content: center;
    text-align: center;
     background-color:rgb(238,235,226);
 //   background-image: url('/build/img/page1-bg.png');
  
}
.navigateButtons
{
    align-content: center;
    
}
.mainBtn
{
    margin-top: 20px;
}
